.dropdownInput {
    margin: 0px 0px 0px 5px;
    padding: 0;
    width: 80%;
    height: 99%;
    display: inline-block;
    border: 0px solid black;
}

.dropdownInput:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.dropdownInputBtn {
    margin: 0;
    padding: 0;
    background-color: white;
}

.input-btn {
    width: 18%;
    height: 100%;
    padding: 5px;
    display: inline;
    background-color: transparent;
    border: 0px solid red;
}
.input-btn:hover, #addPerson:hover {
    cursor: pointer;
    color: green;
}
.list-btn {
    width: 18%;
    height: 80%;
    padding: 5px;
    display: inline;
    background-color: transparent;
    border: 0px solid red;
}
.list-btn:hover, i:hover {
    cursor: pointer;
    color: red;
}

#borgerInput {
    margin: 0px 0px 0px 5px;
    padding: 0;
    display: inline;
    width: 80%;
    border-top: 0px solid black;
    border-right: 0px solid black;
    border-left: 0px solid black;
}
